@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (light) mode */
body {
    background-color: white;
    color: black;
}

a {
    color: blue;
    text-decoration: underline;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    a {
        color: lightblue;
        text-decoration: underline;
    }
}
