lottie-player {
    margin: 0 auto;
}

/* Default (light) mode */
body {
    background-color: white;
    color: black;
}

a {
    color: rgb(202, 78, 29);
    text-decoration: underline;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #2056c4;
        color: white;
    }

    a {
        color: lightblue;
        text-decoration: underline;
    }
}
